nav{
    background:fixed url(../assets/img/IMG_0608.JPG) repeat center center;
}

body {
    background-color: #DCDBDA;
}

.text-primary {
    color: #8599AB !important;
}

.my-email {
    color: #343a40;
}

.link-danger {
    color: #343a40 !important;
}

.text-primary-emphasis {
    color: #343a40 !important;
}