nav{
    background:fixed url(../assets/img/IMG_0608.JPG) repeat center center;
}

body {
    background-color: #E5E4E2;
}

.text-primary {
    color: #8599AB !important;
}

.my-email {
    color: #343a40;
}

.link-danger {
    color: #8599AB !important;
}

.text-primary-emphasis {
    color: #8599AB !important;
}

.link-danger:hover,
.text-primary-emphasis:hover {
    color: #D6336C !important;
}